<article class="blog-post-summary">
  <a href="{{ .Permalink }}">
    <div class="summary-body">
      <time>{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>
      <div class="author">{{ .Params.author }}</div>
      <h2 class="title">{{ .Title }}</h2>
      <div class="image" style="background-image: url({{ $.Site.BaseURL }}{{ with .Params.image }}{{ . }}{{ else }}img/main/USGS-logo-green.png{{ end }});"></div>
    </div>
  </a>
</article>
