{{ define "extra_meta" }}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage":{
        "@type":"WebPage",
        "@id":"{{ .Site.BaseURL }}"
      },
      "headline": "{{ .Title }} | {{ .Site.Params.titlefull }} {{ .Site.Params.titlesub}}",
      {{ with .Params.image }}
      "image": {
        "@type": "ImageObject",
        "url": "{{ $.Site.BaseURL }}{{ . }}"
        "height": 700,
        "width": 700
      },
      {{ end }}
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05JST" }}",
      "dateModified": "{{ .Date.Format "2006-01-02T15:04:05JST" }}",
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}"
      },
      {{ with .Keywords }}
      "keywords":,"{{ delimit . ", " }}",
      {{ end }}
      "description": "{{ .Description }}"

    }
  </script>
{{ end }}

{{ define "main" }}
  <article class="single usa-prose">
    <div class="body">
      <div class="p-share">
        <a href="http://www.facebook.com/sharer.php?src=bm&u={{ .Permalink }}&t={{ .Title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fab fa-facebook"></i></a>
        <a  rel="nofollow" target="_blank" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton"><i class="fab fa-twitter"></i></a>
        <a href="https://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fab fa-reddit-alien" aria-hidden="true"></i></a>
      </div>
      <div class="byline">
        <h1>{{ .Title }}</h1>
        <h3>{{ .Params.author }}</h3>
      </div>

      {{ range .Params.authors }}
        <h3> {{ . }}  </h3>
      {{ end }}

      {{ if .Params.author_email }}
        <a href="mailto:{{.Params.author_email}}" target="blank"><i class="fas fa-envelope-square fa-2x"></i></a>
      {{ end }}
      {{ if .Params.author_github }}
        <a href="https://github.com/{{.Params.author_github }}" target="blank"><i class="fab fa-github-square fa-2x"></i></a>
      {{ end }}
      {{ if .Params.author_twitter }}
        <a href="https://twitter.com/{{.Params.author_twitter }}" target="blank"><i class="fab fa-twitter-square fa-2x"></i></a>
      {{ end }}
      {{ if .Params.author_gs }}
        <a href="https://scholar.google.com/citations?hl=en&user={{ .Params.author_gs}}" target="blank"><i class="ai ai-google-scholar-square ai-2x"></i></a>
      {{ end }}
      {{ if .Params.author_researchgate }}
        <a href="https://www.researchgate.net/profile/{{.Params.author_researchgate}}" target="blank"><i class="ai ai-researchgate-square ai-2x"></i></a>
      {{ end }}
      {{ if .Params.author_staff }}
        <a href="https://www.usgs.gov/staff-profiles/{{.Params.author_staff}}" target="blank"><i class="fas fa-user fa-2x"></i></a>
      {{ end }}

      {{ .Content }}
    </div>

    <aside>
      <section>
        <div>
          <div class="p-share">
            <a href="http://www.facebook.com/sharer.php?src=bm&u={{ .Permalink }}&t={{ .Title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton"><i class="fab fa-twitter"></i></a>
            <a href="https://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fab fa-reddit-alien" aria-hidden="true"></i></a>
          </div>
        </div>
      </section>

      {{ if and (ne .Site.Params.comment false) (ne .Params.comment false) }}
        {{ with .Site.Params.disqusShortname }}
          <section>
            <div>
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  var disqus_shortname = '{{ . }}';
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com/" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
          </section>
        {{ end }}
      {{ end }}
    </aside>
  </article>
{{ end }}
