$theme-site-max-width: 'desktop';
$theme-site-margins-width: 0;

@import '../../node_modules/wdfn-viz/dist/sass/wdfnviz';

$fa-font-path: '../fonts' !default;
@import 'fontawesome';
@import 'brands';
@import 'solid';

@import './academicons';

table {
  @extend .usa-table;
}

.toggle-button {
  @extend .usa-button;
}


.side-by-side {
  margin: 0;
  @include at-media(tablet) {
      @include grid-col(6);
  }
  padding-right: units(1);
}

figure {
  figcaption{
    text-align: center;
    h4 {
      margin-top: 0;
    }
  }
}

/* Social media icons */
.p-share {
  text-align: center;
  display: inline-block;
  margin: units(2) 0;
  a {
    display: inline-block;
    width: units(4);
    height: units(4);
    line-height: units(4);
    background-color: color('blue-80');
    border-radius: 100%;
    color: color('gray-2');
    margin: 0 units(0.5);
  }
}
.blog-entry-body .p-share {
  @include at-media('tablet') {
    float: right;
  }
}

/* Blog entry grid */
.blog-post-summary {
  margin-bottom: units(3);
  background-color: color('gray-cool-3');
  height: units('mobile-lg');
  overflow: hidden;
  border: solid units('1px') color('gray-cool-10');

  .summary-body {
    padding: units(2);
    background-color: transparent;
    .image {
      min-height: units('card-lg');
      margin-bottom: units(2);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .title {
      text-decoration: none;
      max-height: units(15);
      overflow: hidden;
    }

    .author {
      font-size: size('body', '3xs');
    }
  }
}
pre {
  overflow-x: scroll;
}