$theme-site-max-width: 'desktop';
$theme-site-margins-width: 0;

@use 'wdfnviz';
@use 'uswds';

@use 'fontawesome';
@use 'brands';
@use 'solid';

@use './academicons';

table {
  @extend .usa-table;
}

.toggle-button {
  @extend .usa-button;
}


.side-by-side {
  margin: 0;
  @include uswds.at-media(tablet) {
      @include uswds.grid-col(6);
  }
  padding-right: uswds.units(1);
}

figure {
  text-align: center;
  figcaption{
    font-style: italic;
    h4 {
      margin-top: 0;
    }
  }

}

/* Social media icons */
.p-share {
  text-align: center;
  display: inline-block;
  margin: uswds.units(2) 0;
  a {
    display: inline-block;
    width: uswds.units(4);
    height: uswds.units(4);
    line-height: uswds.units(4);
    background-color: uswds.color('blue-80');
    border-radius: 100%;
    color: uswds.color('gray-2');
    margin: 0 uswds.units(0.5);
  }
}
.blog-entry-body .p-share {
  @include uswds.at-media('tablet') {
    float: right;
  }
}

/* Blog entry grid */
.blog-post-summary {
  margin-bottom: uswds.units(3);
  background-color: uswds.color('gray-cool-3');
  height: uswds.units('mobile-lg');
  overflow: hidden;
  border: solid uswds.units('1px') uswds.color('gray-cool-10');

  .summary-body {
    padding: uswds.units(2);
    background-color: transparent;
    .image {
      min-height: uswds.units('card-lg');
      margin-bottom: uswds.units(2);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .title {
      text-decoration: none;
      max-height: uswds.units(15);
      overflow: hidden;
    }

    .author {
      font-size: uswds.size('body', '3xs');
    }
  }
}
pre {
  overflow-x: scroll;
}
