<header class="l-header">
  <div class="p-logo">
    <div id="desktopNav">
      <img id="mobileBurger" src="{{ $.Site.BaseURL }}/images/mobileburger.png" alt="mobile nav menu"/>
      <a href="{{ .Site.BaseURL }}">
          <img id="owiLogoSmall" src="{{ $.Site.BaseURL }}images/owi-mobile.png" alt="OWI logo"/>
      </a>

      <ul id="navigation">
        <a href="http://owi.usgs.gov/people/"><li>People</li></a>
        <a href="http://owi.usgs.gov/products/"><li>Products</li></a>
        <a href="http://owi.usgs.gov/partners/"><li>Partners</li></a>
        <a href="http://owi.usgs.gov/careers/"><li>Careers</li></a>
        <a id="owiCurrent" href="{{ .Site.BaseURL }}"><li>Blog</li></a>
      </ul>

    </div>
  </div>
</header>

<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script type="text/javascript">
    $('#mobileBurger').on('click', function(){
       $('#navigation').toggle('slow');
    });
</script>
