
<footer class="l-footer">
  <p>
  This information is preliminary and is subject to revision. It is being provided to meet the need for timely best science. The information is provided on the condition that neither the U.S. Geological Survey nor the U.S. Government shall be held liable for any damages resulting from the authorized or unauthorized use of this information.
  </p>
  <p>The content is in the public domain because it contains materials that originally came from the U.S. Geological Survey, an agency of the United States Department of Interior. For more information, see the <a href="http://www.usgs.gov/visual-id/credit_usgs.html#copyright/" target="_blank">official USGS copyright policy</a>
</p>

  
  <!-- BEGIN USGS Footer Template -->

        <div id="usgsfooter">

        	<p id="usgsfooterbar">
                <a href="http://www.usgs.gov/laws/accessibility.html" title="Accessibility Policy (Section 508)" target="_blank">Accessibility</a>
                <a href="http://www.usgs.gov/foia/" title="Freedom of Information Act" target="_blank">FOIA</a>
                <a href="http://www.usgs.gov/laws/privacy.html" title="Privacy policies of the U.S. Geological Survey." target="_blank">Privacy</a>
                <a href="http://www.usgs.gov/laws/policies_notices.html" title="Policies and notices that govern information posted on USGS Web sites." target="_blank">Policies and Notices</a>

			</p><!--usgsfooterbar-->


		<p id="usgsfootertext">

    		<a href="http://www.usa.gov/" alt="USA.gov logo" title="USAGov: Government Made Easy" width="90" height="26" target="_blank"><img id="usa" src="{{ $.Site.BaseURL }}images/usa_gov.png" alt="usa_gov pic"/></a>

    		<a href="http://www.doi.gov/" target="_blank">U.S. Department of the Interior</a> |

			<a href="http://www.usgs.gov/" target="_blank">U.S. Geological Survey</a> |

			<a href="http://www.doioig.gov/" target="_blank">DOI Inspector General</a>

    		<p style="margin: 5px 0 5px 0; padding-left: 5px;">URL: http://owi.usgs.gov</p>

            <p style="margin: 5px 0 5px 0; padding-left: 5px;">Contact Information: <a href="mailto:gs-w_r_admin@usgs.gov?Subject=USGS-R%20Website" target="_top">owi@usgs.gov</a></p>

    		<p style="margin: 5px 0 5px 0; padding-left: 5px;">Page last modified: 03/16/2016</p>

    	</p><!--usgsfootertext-->

</div><!--usgsfooter-->

<!-- END USGS Footer Template -->
</footer>

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>


  </body>
</html>
